# Ignore node_modules directory
node_modules/

# Ignore environment variables file
.env

# Ignore build artifacts
build/
dist/

# Ignore log files
*.log

# Ignore package-lock.json for npm
package-lock.json

# Ignore yarn.lock for Yarn
yarn.lock

# Ignore IDE and editor specific files
.vscode/
.idea/
*.iml

# Ignore any other generated or temporary files
*.tmp
*.bak
*.swp